# Database Configuration
DATABASE_URL=postgresql://genealogy_user:genealogy_password@localhost:5432/genealogy_db

CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://client-dev:5173
CORS_METHODS=*
CORS_HEADERS=*

# PostgreSQL Configuration
POSTGRES_DB=genealogy_db
POSTGRES_USER=genealogy_user
POSTGRES_PASSWORD=genealogy_password

# Application Configuration
NODE_ENV=development

# Cypress Configuration
CYPRESS_RECORD_KEY=your_cypress_record_key_here
